 nav{
        height: 3rem;
        width: 30rem;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        background-color: rgb(38, 38, 38);
        border-radius: 1.5rem;
        top: 33rem;
        left: 30%;
        background-color: rgb(46, 18, 121);
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp 1.5s forwards;
    }

    
    @keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
    nav a{
        text-decoration: none;
        color: white;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 7rem;
        height: 1.8rem;
        border-radius: 0.9rem;
        display: flex;
        position: relative;
        align-items: center;
    }
    nav a:nth-child(4){
        background-color: rgb(27, 8, 234);
    }
    nav a:hover{
        color: aqua;
        box-shadow: 0 0 5px aqua;
    }

    nav a span{
        font-size: small;
        font-weight: 300;
        position: inherit;
        bottom: -0.1rem;
        margin-left: 0.5rem;
    }